<section
  id="approach"
  #approachSection
  class="relative min-h-[90vh] flex flex-col items-center bg-background gap-20 overflow-hidden pb-24"
>
  <div class="flex-col flex px-4 space-y-5 w-full items-center pt-10">
    <div class="approach-header flex flex-col space-y-3 items-center">
      <h2
        class="text-3xl md:text-4xl font-serif leading-tight tracking-[0.2em] text-primary-foreground/80"
      >
        O que é Psicanálise
      </h2>
      <div class="mb-2 h-1 w-20 rounded-full bg-primary-foreground"></div>
    </div>

    <p class="approach-text text-foreground/80  text-center max-w-4xl">
      A psicanálise é um método terapêutico que busca compreender o
      funcionamento da mente humana através da investigação do inconsciente.É um
      convite para falar livremente sobre o que lhe aflige, permitindo que novos
      significados surjam.
    </p>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 2xl:grid-cols-4 gap-10 mb-10">
    @for (card of cards; track card.title) {
      <div
        class="approach-card group flex flex-col w-[27rem] sm:w-[18rem] bg-white rounded-xl hover:bg-gray-100 transition-colors duration-300 items-start p-5 shadow-md"
      >
        <div
          class="w-12 h-12 bg-white border border-primary-foreground/20 rounded-full flex items-center justify-center mb-6 shadow-sm group-hover:scale-110 transition-transform duration-300"
        >
          <hlm-icon [name]="card.icon" size="sm"></hlm-icon>
        </div>

        <h3 class="text-xl font-bold text-black mb-3">
          {{ card.title }}
        </h3>
        <p class="text-gray-600 leading-relaxed text-sm">
          {{ card.description }}
        </p>
      </div>
    }
  </div>

  <div class="absolute bottom-0 left-0 w-full overflow-hidden leading-none">
    <svg
      class="relative block w-full h-[60px]"
      data-name="Layer 1"
      viewBox="0 0 1200 120"
      preserveAspectRatio="none"
    >
      <path
        d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
        class="fill-secondary"
      ></path>
    </svg>
  </div>
</section>
