<section
  #heroSection
  class="relative min-h-[90vh] flex items-center justify-center bg-background"
>
  <div
    class="container px-4 md:px-6 flex flex-col md:flex-row items-center gap-12 mb-10 md:mb-0"
  >
    <div class="flex-1 text-center md:text-left order-2 md:order-1">
      <h1
        class="hero-title text-4xl md:text-5xl lg:text-6xl font-serif font-medium text-foreground leading-tight mb-6"
      >
        Um espaço seguro para o seu
        <span class="text-primary-foreground italic">reencontro</span>
        consigo mesmo.
      </h1>
      <p
        class="hero-text text-lg md:text-xl text-foreground/80 mb-4 max-w-lg mx-auto lg:mx-0 font-light leading-relaxed"
      >
        Olá, sou Valéria Lima. Ofereço acolhimento e escuta qualificada através
        da psicanálise, ajudando você a compreender seus caminhos e construir
        novas possibilidades.
      </p>
      <div class="hero-buttons flex flex-row gap-5 justify-center md:justify-start">
        <button app-button variant="default" size="lg" class="rounded-full shadow-xl">
          Agendar
        </button>
        <button app-button variant="outline" size="lg" class="rounded-full">
          Saiba Mais
        </button>
      </div>
    </div>
    <div class="hero-image flex-1 relative order-1 md:order-2">
      <img
        src="images/hero-photo.webp"
        alt="Valéria Lima - Psicóloga"
        class="w-[40vh] md:w-[70vh] h-[40vh] md:h-[70vh] object-cover rounded-[66%_34%_34%_66%/65%_22%_78%_35%] border-4 drop-shadow-2xl border-white"
      />
    </div>
  </div>
</section>
